@model IEnumerable<E_Commerce.Models.ProductModel>

<div class="container-fluid d-flex justify-content-center mb-5 mt-5">
    @foreach (var p in Model)
    {
        <a type="button" class="btn btn-primary btn-lg d-inline m-3" asp-controller="Home" asp-action="@p.Category.Name">@p.Category.Name</a>
    }
</div>

<partial name="_CategoryLinkPartial" />

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var p in Model)
        {
            <div class="col">
                <div class="card h-75 overflow-hidden pb-3 border border-bottom-0 rounded-0 ">
                    <div class="card-body align-text-bottom">
                        <h5 class="card-title pb-4">@p.Name</h5>
                        <p class="card-text p-2 text-muted">@p.Description</p>
                    </div>
                </div>
                <div class="card-footer bg-light border d-flex justify-content-center">
                    <a class="btn btn-primary w-25 p-2 m-1" asp-action="Details" asp-route-id="@p.Id">Details</a>
                    <button class="btn btn-primary w-50 p-2 m-1">Buy</button>
                </div>
            </div>
        }
    </div>
</div>



