@model IEnumerable<E_Commerce.Models.ProductModel>

<div class="container align-text-center">
    @foreach (var p in Model)
    {
        <button type="button" class="btn btn-primary btn-lg" asp-action="@p.Category.Name">@p.Category.Name</button>
    }
</div>

<div class="container">
    @foreach (var p in Model)
    {
        <div class="card mt-5 ">
            <div class="card-body">
                <h5 class="card-title">@p.Name</h5>
                <p class="card-text">@p.Description</p>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@p.Id">Details</a>
                <button class="btn btn-primary">Buy</button>
            </div>
        </div>
    }
</div>


